---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organisms/Hero.astro";
import { colors } from "../design-system/colors.js";
import Text from "../components/atoms/Text.astro";
import Button from "../components/atoms/Button.astro";
import { Image } from "astro:assets";
import outroImg from "../../src/assets/shared/desktop/image-best-gear.jpg";
import speaker from "../../src/assets/exported/speaker.png";
import logo from "../assets/shared/desktop/logo.svg";
import facebook from "../assets/shared/desktop/icon-facebook.svg";
import twitter from "../assets/shared/desktop/icon-twitter.svg";
import instagram from "../assets/shared/desktop/icon-instagram.svg";
import FeaturedProducts from "../components/organisms/FeaturedProducts.astro";
import ProductSpotlight from "../components/organisms/ProductSpotlight.astro";
import Outro from "../components/organisms/Outro.astro";
import Footer from "../components/organisms/Footer.astro";
---

<Layout title="Home">
  <Hero>
    <div class="flex hero pt-36">
      <div class="flex flex-col gap-4">
        <Text type="body" color={colors.dimWhite}>NEW PRODUCT</Text>
        <div class="w-[396px]">
          <Text type="h1" color={colors.white}>XX99 Mark II Headphones</Text>
        </div>
        <div class="w-[349px]">
          <Text type="body" color={colors.white}>
            Experience natural, lifelike audio and exceptional build quality
            made for the passionate music enthusiast.
          </Text>
        </div>
        <Button className="mt-8" type="primary">SEE PRODUCT</Button>
      </div>
    </div>
  </Hero>

  <!-- Featured products -->
  <FeaturedProducts />

  <!-- product spotlight section -->
  <!-- <div class="container">
    <div class="product-spotlight-area">
      <div class="product-spotlight-1">
        <div>
          <Image
            class="product-spotlight-1-img"
            src={speaker}
            alt="headphone"
          />
        </div>
        <div class="flex flex-col gap-4">
          <Text type="body" color={colors.white}>NEW PRODUCT</Text>
          <div class="w-[396px]">
            <Text type="h1" color={colors.white}>XX99 Mark II Headphones</Text>
          </div>
          <div class="w-[349px]">
            <Text type="body" color={colors.white}>
              Experience natural, lifelike audio and exceptional build quality
              made for the passionate music enthusiast.
            </Text>
          </div>
          <Button className="mt-8" type="secondary-inverted">
            SEE PRODUCT
          </Button>
        </div>
      </div>
      <div class="product-spotlight-2">
        <div class="flex flex-col">
          <Text type="h3">ZX7 SPEAKER</Text>
          <Button className="mt-7" type="secondary-inverted">
            SEE PRODUCT
          </Button>
        </div>
      </div>
      <div class="product-spotlight-3">
        <div class="earphone-image"></div>
        <div class="flex flex-col">
          <Text type="h3">YX1 EARPHONES</Text>
          <Button className="mt-7" type="secondary">SEE PRODUCT</Button>
        </div>
      </div>
    </div>
  </div> -->
  <ProductSpotlight />

  <!-- Outro section -->
  <Outro />

  <!-- Footer -->
  <Footer />
</Layout>

<style>
  .hero {
    background-image: url("../assets/home/desktop/image-hero.jpg");
    min-height: 700px;
    background-size: contain;
    background-position-y: -80px;
    background-position-x: 260px;
    background-repeat: no-repeat;
  }
</style>
